.claude
.serena
/config/nvim/playground
# technically this is not needed since podman-static is a submodule.
# But serena, mcp tool for claude that efficiently reads and edits semantic files,
# reads non-gitignore-d directories while the onboarding process
# regardless of exclusion specified in .serena_project.json.
.mcp.json

build/podman-static/podman-static
build/krun/crun
build/krun/built
