[Unit]
Description=btrfs-pool top-level

[Mount]
What=/dev/disk/by-label/${DISK_LABEL}
Where=${ROOT_POOL}
Type=btrfs
Options=subvolid=5,noatime,compress=${FS_COMPRESSION}

[Install]
WantedBy=${DISK_SYSTEMD_DEVICE_UNIT_NAME}
